.text {
  font-size: 24px;
  line-height: 32px;
  font-kerning: normal;
  font-family: 'Overpass', sans-serif;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size:60px;
  font-kerning: normal;
}
form{
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjdyMf4ovjgAhXjQ98KHQp7CJUQjRx6BAgBEAU&url=http%3A%2F%2Fwww.fmslondon.co.uk%2Fproducts.php%3Fproduct%3DAir-IATA-DGN-1%25252dPart-%2528Blank-%25252d-Red-Haz-Flash-only%2529-Pack-of-100-%2528Code-SDC%2529&psig=AOvVaw31KdRY8XBjMpJdz7gTafNu&ust=1552331303136389");
  background-size:cover;
  background-position: center;
  padding:20px;
  margin-right:60%;
}
.add{
  background-color: lightgray;
  padding:20px;
  
}