.jumbotron{
 padding: 2%;
  background: maroon;
  color: white;

}

.container{
  float:left;
  margin-left: 55px;
}

.text {
  font-size: 16px;
  font-kerning: normal;
  font-family: 'Overpass', sans-serif;
  padding: 3px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  font-kerning: normal;
  color:white;
}

body{
  background-image: url("dgPaper.jpg");
  background-size:cover;
  background-position: center;
  
}

.add{
  background-color: lightgray;
  padding:10px;
  margin: 1%;
}

#document {
  size: auto;
}

.batchForm{
  padding:10px;
  background: ;
  margin: 1%;
}

button{
  margin-left: 10px
}